<div class="main-container">
  <h1>Tab 1</h1>
  <div  [ngClass]="{'show': showConnectionClosed}"  class="connection-closed">Connection closed</div>
  <div  [ngClass]="{'show': showRedirectedMessage}" class="redirected-message-container">Redirected message to Tab 2</div>
  <div class="main-container">
    <h3 class="sub-title">Messages:</h3>
    <div class="messageText-container">
      <div *ngFor="let text of messages">
        {{text}}
      </div>
    </div>
    <button class="btn" type="button" (click)="closeConnection()">Close connection</button>
  </div>
</div>

