.redirected-message-container {
    background: #000;
    color: #fff;
    left: 0;
    margin: auto;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: -58px;
    width: 100%;
    transition: top ease 1s;
}

h1 {
    border-bottom: 1px solid;
    font-size: 26px;
    margin: 20px 0;
}
